In [2]:
tabuada = int(input('Digite um número para exibir a tabuada: '))
print('Tabuda do número {}'.format(tabuada))
for valor in range(1,11,1):
  print(str(tabuada) + " x " + str(valor) + " = " + str((tabuada*valor)))

Digite um número para exibir a tabuada: 5
Tabuda do número 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50